<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.6"?>
<target includeMode="feature" name="javacls-target-0.0.1-SNAPSHOT">
	<locations>
		<!-- To get around NEXUS validation rules, CHANGE THE VERSION AT THE TOP OF THIS FILE -->

		<!-- don't forget to increment these files when moving up a version: build.xml, *.target -->

		<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20230531010532/repository/" />

			<unit id="org.junit" version="0.0.0" />
			<unit id="com.google.gson" version="0.0.0" />

			<unit id="org.apache.commons.compress" version="0.0.0" />
			<unit id="org.tukaani.xz" version="0.0.0" />
		</location>

		<!-- Old orbit for test dependencies not in newer orbit -->
		<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="https://download.jboss.org/jbosstools/updates/requirements/orbit/R20210825222808/" />
			<unit id="org.assertj" version="3.20.2.v20210706-1104" />
			<unit id="org.mockito" version="2.23.0.v20200310-1642" />
			<unit id="net.bytebuddy.byte-buddy" version="1.9.0.v20181107-1410"/>
			<unit id="net.bytebuddy.byte-buddy-agent" version="1.9.0.v20181106-1534"/>
			<unit id="org.objenesis" version="2.6.0.v20180420-1519"/>
		</location>


		<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="https://download.jboss.org/jbosstools/updates/requirements/logback/1.2.3/" />

			<!-- qos.logback 1.2.3 requires org.slf4j.spi [1.7.10,1.8.0) -->
			<unit id="ch.qos.logback.classic" version="1.2.3" />
			<unit id="ch.qos.logback.core" version="1.2.3" />
			<unit id="slf4j.api" version="1.7.28" />
		</location>

		<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/lsp4j/updates/releases/1.0.0/" />
			<!-- lsp4j - upgraded to 1.0.0 for LSP 3.17.0 support (pull diagnostics) -->
			<unit id="org.eclipse.lsp4j.jsonrpc" version="0.0.0" />
			<unit id="org.eclipse.lsp4j" version="0.0.0" />
		</location>


		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer"
			includeSource="true" type="InstallableUnit">
			<repository
				location="https://download.jboss.org/jbosstools/updates/stable/locus/1.8.0/" />
			<!-- Test dependencies -->
			<unit id="org.apache.felix.log" version="1.2.0" />
			<unit id="org.everit.osgi.bundles.org.apache.xmlcommons.full" version="1.4.1.20150918" />
		</location>

		<!-- Minimal SimRel - only test dependencies actually used -->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer"
			type="InstallableUnit" includeSource="true">
			<repository
				location="http://download.jboss.org/jbosstools/updates/requirements/simrel/20190301-0700-Simrel.2019-03.M3/" />

			<!-- Test dependencies -->
			<unit id="org.hamcrest.core" version="1.3.0.v20180420-1519" />

			<!-- Required for Java 11+ -->
			<unit id="javax.annotation" version="1.2.0.v201602091430" />

			<!-- OSGi framework - required for compilation -->
			<unit id="org.eclipse.osgi" version="0.0.0" />
		</location>

		<!-- RSP Server infrastructure bundles -->
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="file:///@project.basedir@/rsp-server-p2"/>
			<unit id="org.jboss.tools.rsp.launching" version="0.0.0"/>
			<unit id="org.jboss.tools.rsp.launching.java" version="0.0.0"/>
			<unit id="org.jboss.tools.rsp.logging" version="0.0.0"/>
		</location>

	</locations>
	<targetJRE
		path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17" />


</target>
